div {
	width: 602px;
	background-color: green;
}
div:hover{
	font-size:18mm;
}


#blok1_banaczyk:hover {
	background-color: blue;
}

#blok2_banaczyk:hover {
	background-color: yellow;
}

#blok3_banaczyk:hover {
	background-color: #D1B000;
}